.Movie {
    width: 100%;
    background-color: white;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
/* .Movie .Movie__Columns {
} */

.Movie .Movie__Columns img {
    position: relative;
    top: -50px;
    max-width: 150px;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.Movie .Movie__title,
.Movie .Movie__year {
    margin: 0;
    font-weight: 300;
}

.Movie__Columns .Movie__title {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
}

.Movie .Movie__genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 5px 0px;
}

.Movie__genres li,
.Movie .Movie__year {
    margin-right: 10px;
    font-size: 14px;
}

.Movie__Genres .Movie__Synopsis {
    width: 90%;
}

@media (max-width: 800px) {
    .Movie .Movie__Columns img {
        position: relative;
        top: -50px;
        max-width: 80px;
        margin-right: 30px;
        box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
            0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    }

    /* .Movie .Movie__Columns {
    } */

}