.todo-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    /* 세로 가운데 정렬 */
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
}

.todo-item:hover {
    background: #e3fafc;
}

/* todo-item 에 마우스가 있을때만 .remove 보이기 */
.todo-item:hover .remove {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    /* margin-left: 1rem; */
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
}

.todo-item:hover .edit {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    /* margin-left: 1rem; */
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
}

/* todo-item 사이에 윗 테두리 */
.todo-item+.todo-item {
    border-top: 5px solid #f1f3f5;
}


.remove {
    margin-right: 1rem;
    color: #e64980;
    font-weight: 600;
    opacity: 0;
}

.edit {
    margin-right: 1rem;
    color: green;
    font-weight: 600;
    opacity: 0;
}

.todo-text {
    flex: 1;
    /* 체크, 엑스를 제외한 공간 다 채우기 */
    word-break: break-all;
}

.checked {
    text-decoration: line-through;
    color: #adb5bd;
}

.check-mark {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-left: 1rem;
    color: #3bc9db;
    font-weight: 800;
}